<div class="container relative-pos">
    <div class="side-menu js-side-menu">
        <div class="text-align-right"><h3 class="no-marg">
            <i class="fa fa-times btn-times thick-pad cursor-pointer js-btn-times" aria-hidden="true"></i></h3></div>
        <ul class="js-nav-list no-pad-top">
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Materials <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Equipment <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Blade Sharpening <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item">Gallery <h3 class="no-marg inline">
                    <i class="fa fa-angle-down icon-angle pull-right" aria-hidden="true"></i></h3></div>

            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item"><a class="display-block" href="#">Sale</a></div>
            </li>
            <li class="secondary-nav-item">
                <div class="cursor-pointer js-secondary-nav-item marg-bottom">
                    <a class="display-block" href="#">New</a>
                </div>
            </li>
            <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseHistoricOrder">Reorder your purchases</a></li>
            <li><a href="index.php?PageLink=Tools&amp;Tab=ProductCodes">Your own product codes</a></li>
            <li><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseStockNotification">StockWatch - stock notifications</a></li>
            <li><a href="index.php?PageLink=Tools&amp;Tab=Delivery">Estimated delivery dates</a></li>
            <li><a href="index.php?Logged&amp;CustomerAccount">Account statements</a></li>
            <li><a href="index.php?PageLink=ObsoleteProducts">Obsolete Catalogue Products</a></li>
            <li><a href="index.php?PageLink=Tools">Site Tools information</a></li>

            <li class="quick-nav-links thick-marg-top">
                <ul class="no-marg no-pad">
                    <li><span class="icon-quick-nav icon-quick-nav__speedshop thin-marg-right">&nbsp;</span><a href="index.php?PageLink=LogIn&amp;LoginMessage=UseSpeedShop">SpeedShop</a></li>
                    <li><span class="icon-quick-nav icon-quick-nav__favourites marg-right">&nbsp;</span><a href="index.php?PageLink=LogIn&amp;LoginMessage=AddToFavs">Favourites</a></li>
                    <li class=""><span class="icon-quick-nav icon-quick-nav__visualiser marg-right">&nbsp;</span><a href="frame_visualiser.php">Frame Visualiser</a></li>
                    <li><span class="icon-quick-nav icon-quick-nav__gallery marg-right">&nbsp;</span><a href="gallery.php">Gallery</a></li>
                    <li><span class="icon-quick-nav icon-quick-nav__download marg-right">&nbsp;</span><a href="index.php?PageLink=Downloads">Catalogue & File downloads</a></li>
                    <li><span class="icon-quick-nav icon-quick-nav__faq marg-right">&nbsp;</span><a href="index.php?PageLink=FAQ">Help - FAQs</a></li>
                </ul>
            </li>

        </ul>

    </div>
</div>






